*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
.contenor{
    width: 100%;
    height: 100vh;
    background-color: #11224E;
}
nav{
    width: 100%;
    padding: 20px;
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: start;
    
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
nav ul li{
    font-size: 20px;
    font-weight: 500;
    
}
nav a{
    text-decoration: none;
    color: #F87B1B;
}
nav a:hover{

    color: #12a105;
    transition: 0.3s;
}
.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100vh - 80px);
    padding: 20px;
}
#home-text{
    color: #FFFFFF;
    max-width: 700px;
}
#home-text h1{
    font-size: 48px;
    margin-bottom: 20px;
    color: #F87B1B;
    
}
#home-text h2{
    font-size: 32px;
    margin-bottom: 10px;
    color: #EEEEEE;
}
#home-text h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: #12a105;
}
#home-text p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}
.profile{
    width: 450px;
    height: 450px;
    position: relative;
}
#image img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    box-shadow: 5px 10px 5px #F87B1B;
    position: absolute;
    top: 25px;
    left: 25px;

}
#image img:hover{
    box-shadow: 5px 10px 5px #12a105;
    transition: 0.3s;
}
.pro{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    padding: 25px;
    position: absolute;
    background: linear-gradient(to right,
        rgba(4, 3, 95, 0.5),
        rgba(18, 161, 5, 0.5),
        rgb(253, 117, 12),
        rgba(4, 3, 95, 0.5)
    );
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}