*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
.contenor{
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content:  space-around;
    align-items: start;
    position: fixed;
    top: 0px;
    z-index: 100;
    backdrop-filter: blur(100px);
    border: 1px solid #12a105;
    
}
#bar{
    font-size: 30px;
    color: hsl(26, 94%, 54%);
    display: none;
   
}
#navpop{
    display: none;
    
}
ul li:hover #navpop{
    display: block;
    position: absolute;
    
    /* background-color: #11224E; */
    
    /* margin-top: 0.27cm; */
    
    
    
}
#navpop ul{
    display: block;
    width: 300px;
    height: 350px;
    position: absolute;
    margin-top: 0.81cm;
    margin-left: -5.5cm;
    background-color: #12a105;
    padding: 20px;

}
#navpop ul li{
    display: block;
    margin: 10px 0;
    font-size: 30px;
    font-weight: 700;
    color: #F87B1B;
    border-bottom: 2px solid #F87B1B;
    
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
nav ul li{
    font-size: 20px;
    font-weight: 500;
    
}
nav a{
    text-decoration: none;
    color: #F87B1B;
}
nav a:hover{

    color: #12a105;
    transition: 0.3s;
}
section{
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 50px;
    background-color: #11224E;
}

.content{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    top: -40px;
    left: 0PX;
}
#home-text{
    margin: 50px;
    color: #FFFFFF;
    max-width: 700px;
    text-align: right;
}
#home-text samp{
    font-weight: bold;
    color: #12a105;
}
#home-text samp:hover{
    color: #F87B1B;
}

h1{
    font-size: 40px;
    margin: 0 40px;
    color: #F87B1B;
    text-align: center;
}
section h1{
    font-size: 50px;
    margin: 20px;
    text-transform: uppercase;
    color: #F87B1B;
    text-align: center;
}
#home-text h2{
    font-size: 40px;
    font-style: oblique;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #EEEEEE;
}
#home-text h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: #12a105;
}
#home-text p{
    font-size: 20px;
    line-height: 1.5;
    margin: 20px;
    text-align: justify;
}
.profile{
    width: 450px;
    height: 450px;
    position: relative;
    top: -40px;
    left: 0px;
}
#image img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    box-shadow: 5px 10px 5px #F87B1B;
    position: absolute;
    top: 25px;
    left: 25px;

}
#image img:hover{
    box-shadow: 5px 10px 5px #12a105;
    transition: 0.3s;
}
.pro{
    width: 450px;
    height: 450px;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(to right,
        rgba(17, 34, 78, 0.5) 60%,
        rgba(18, 161, 5, 0.5) 79%,
        rgb(253, 117, 12) 60%,
        rgba(4, 3, 95, 0.5)
    );
    animation: rotate 5s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
footer{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-around;
    background-color: #bebebe;
    padding: 20px;
    gap: 20px;
}
button{
    height: 70px;
    width: 200px;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    background-color: #12a105;
    color: #FFFFFF;
    border: none;
    border-radius: 15px;
}
button:hover{
    background-color: #F87B1B;
    transition: 0.3s;
}
#ff{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#add{
    width: 100%;
    list-style: none;
    color: rgb(2, 2, 2);
    font-weight: bold;
    font-size: 20px;
}
footer ul{
    width: 100%;
    list-style: none;
    color: rgb(2, 2, 2);
    font-weight: bold;
    font-size: 20px;
}
footer a{
    text-decoration: none;
 
}
footer form{
    width: 100%;
}
footer form input{
    height: 200px;
    width: 300px;
    padding: 10px;
    background-color: #e0e2f3;
    font-size: 20px;
    
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    
    .content{
        display:block;
        height: 100%;
        margin-top: 80px;
        
        
    }
    section h1{
        font-size: 26px;
        margin: 30px 0;
    }
    #home-text{
        width: 100%;
        margin: 60px 0;
        text-align: left;
        /* background-color: #11224E; */
        
    }
    /* #home-text p{
        text-align: justify;
    } */
    .profile{
        width: 300px;
        height: 300px;
        top: 30px;
        left: 50px;
        
        }
    #image img{
        width: 250px;
        height: 250px;
    }
    .pro{
        width: 300px;
        height: 300px;
        
    }
    nav ul{
        display: none;
    }
    #bar{
        display: block;
    }
    
    footer{
        flex-direction: column;
        height: 100%;
    }
}