*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.contenor{
    height: 100vh;
    width: 100%;
    
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: auto 100vh auto 650px auto;
    grid-template-areas: 
        'nav nav'
        'aside section'
        'cours cours'
        'cour skill'
        'footer footer';
}
nav{
    grid-area: nav;
    width: 100%;
    display: flex;
    background-color: #021f33;
    text-align: center;
    justify-content: center;
    font-size: 28px;
    padding: 10px;
    
}
nav a{
    text-decoration: none;
    color: #f39c12;
    margin: 0 15px;
}
nav a:hover{
    color: #2980b9;
    transition: 0.3s;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

#about{
    grid-area: section;
    font-family: Arial, sans-serif;
    background-color: #f1f7fe;
    color: #333;
    padding: 30px;
    line-height: 1.6;
}
#about p{
    font-size: 18px;
    max-width: 800px;
    
    padding: 10px;
    color: #34495e;
    text-align: justify;
}
p samp{
    font-weight: bold;
    color: #2980b9;
}

#aside{
    grid-area: aside;
    background-color: #1363be;
    
    
}
.profile{
    width: 100%;
    height: 100%;
    border: 2px solid #021f33;
}
img{
    width: 100%;
    height: 100%;
    
}

#cour{
    grid-area: cour;
    background-color: #f39c12;
    font-size: 28px;
    color: #f1f7fe;
    border: 3px solid #021f33;
}
#cour a{
    text-decoration: none;
    color: #f1f7fe;
    
}
#cour div{
    width: 100%;
    border-bottom: 3px solid #021f33;
    margin: 20px 0;
    padding: 10px 20px;
}
#cour ul{
    list-style: none;
}
#cour ul li:hover{
    color: #021f33;
    transition: 0.3s;
    cursor: pointer;
}
#skills{
    justify-content: center;
    grid-area: skill;
    background-color: #34495e;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 320px);
    gap: 15px;
}
.box{
    margin: 30px;
    /* border: 1px solid #f39c12; */
    background-color: #34495e;
}
#cours{
    grid-area: cours ;
    margin: 30px;
    text-align: center;
    font-size: 36px;
}
.card1, .card2, .card3, .card4{

    text-align: center;
    color:#f1f7fe;

}
.card1:hover, .card2:hover, .card3:hover, .card4:hover{
    background-color: #2980b9;
    transition: 0.3s;
    cursor: pointer;
}
.card1 h3, .card2 h3, .card3 h3, .card4 h3{
    margin-bottom: 15px;
    color: #f39c12;
}
#html, #react, #php, #mongodb{
    width: 100%;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 10px;
}

#html{
   
    background-image: url('../Asset/1953077793_html\ css\ \(1\).png');
    
}
#react{
    
    background-image: url('../Asset/0_syUfAfQ5v-51iAo1.png');
}
#php{
    background-image: url('../Asset/1740655028640i20a20image20text20VS20Which20Better20Application20background20royal20and20.webp');
}
#mongodb{
    background-image: url('../Asset/cover.webp');
}
@media screen and (max-width: 768px) {
    .contenor{
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto auto;
        grid-template-areas: 
            'nav'
            'aside'
            'section'
            'cours'
            'cour'
            'skill'
            'footer';
    }
    #skills{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4, 1fr);
        font-size: 26px;
        gap: 50px;
        padding-top: 30px;
    
        
    }


    nav{
        display: none;
    }
    
}
